.league-header-content {
  padding: 20px 10px 20px 10px;
  display: flex;

  .league-header-content-logo {
    width: 100px;
    height: 100px;
    background-color: #2d3748;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
  }

  .league-header-content-description {


    .league-header-content-description-name {
      color: white;
      font-size: 30px;
    }
  }
}