:root {
  --main-bg-color: black;
  --main-text-color: #222;
  --button-text-color: black;
  --button-opacity: 80%;
  --button-hover-opacity: 50%;
  //   --weekday-bg-color: #e0e0e0;
}

.dark-mode {
  --main-bg-color: white;
  --main-text-color: white;
  --button-text-color: white;
  --button-opacity: 80%;
  --button-hover-opacity: 70%;
  --weekday-bg-color: #111827;
}

.react-calendar {
  width: 324px;
  background-color: #1f2937;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation {
  height: 48px;
  justify-content: center;
  display: flex;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
  font-weight: bold;
  color: var(--button-text-color);
  opacity: var(--button-opacity);
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  //   background-color: #f8f8fa;
  opacity: 50%;
}
.react-calendar__navigation button[disabled] {
  //   background-color: #f0f0f0;
  opacity: 50%;
}
abbr[title] {
  text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
    color: #d10000;
   } */
// .react-calendar__tile:enabled:hover,
// .react-calendar__tile:enabled:focus {
//   // background: #6f48eb;
//   color: #6f48eb;
//   border-radius: 6px;
//   opacity: 50%;
// }

// .react-calendar__tile--now:enabled:hover,
// .react-calendar__tile--now:enabled:focus {
//   background: #6f48eb;
//   border-radius: 6px;
//   font-weight: bold;
//   color: #6f48eb;
// }
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #f8f8fa;
}
// .react-calendar__tile--active {
//   background: #6f48eb;
//   border-radius: 6px;
//   font-weight: bold;
//   color: white;
// }
// .react-calendar__tile--active:enabled:hover,
// .react-calendar__tile--active:enabled:focus {
//   background: #6f48eb;
//   color: white;
// }
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #f8f8fa;
}

.react-calendar__navigation__next2-button,
.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__month-view__weekdays {
  background-color: var(--weekday-bg-color);
  display: flex;
  justify-content: center;
  height: 32px;
  color: gray;
  font-weight: bold;
  font-size: 13px;
}

.react-calendar__month-view__weekdays__weekday,
react-calendar__month-view__weekdays__weekday--weekend {
  padding: 8px 8px 8px 12px;
}

.react-calendar__tile {
  padding: 10px;
  font-weight: bold;
}

.react-calendar__tile--now {
  color: black;
  border: 1px solid #6f48eb;
  border-radius: 100px;
}
